In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#creating series by passing a list. panda creates the default integer index
s = pd.Series([1,np.nan,3,7,9, 41])
s

0     1.0
1     NaN
2     3.0
3     7.0
4     9.0
5    41.0
dtype: float64

In [5]:
#creating DataFrame by NumPy with dates as index and labeled columns
dates = pd.date_range('20181001', periods=8)
dates

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df=pd.DataFrame(np.random.randn(8,5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-10-01 -0.741131  1.131657  0.661282 -1.446660  1.113197
2018-10-02  0.008494 -0.804675 -0.349757 -2.376976 -0.119038
2018-10-03  0.120618 -0.649153  1.829234  0.308030 -0.098760
2018-10-04 -0.430845 -0.935010  0.401081  0.735348  0.163760
2018-10-05 -1.064615  0.857247 -0.964546 -0.107509  1.225077
2018-10-06  0.476518 -1.429488  1.267538 -0.964230 -1.623397
2018-10-07  0.352071 -0.047500 -0.936242 -0.967131 -0.254240
2018-10-08  0.942652 -0.647562  0.450863  0.097413  1.030683

In [7]:
#viewing data
df.head()

                   A         B         C         D         E
2018-10-01 -0.741131  1.131657  0.661282 -1.446660  1.113197
2018-10-02  0.008494 -0.804675 -0.349757 -2.376976 -0.119038
2018-10-03  0.120618 -0.649153  1.829234  0.308030 -0.098760
2018-10-04 -0.430845 -0.935010  0.401081  0.735348  0.163760
2018-10-05 -1.064615  0.857247 -0.964546 -0.107509  1.225077

In [8]:
df.tail(2)

                   A         B         C         D         E
2018-10-07  0.352071 -0.047500 -0.936242 -0.967131 -0.254240
2018-10-08  0.942652 -0.647562  0.450863  0.097413  1.030683

In [9]:
df.values

array([[-0.7411311 ,  1.13165699,  0.66128208, -1.44665959,  1.11319717],
       [ 0.0084945 , -0.80467524, -0.34975681, -2.37697627, -0.11903792],
       [ 0.12061777, -0.64915348,  1.82923365,  0.30802984, -0.09875966],
       [-0.43084458, -0.93500974,  0.40108106,  0.73534779,  0.16375975],
       [-1.06461462,  0.85724726, -0.96454586, -0.1075087 ,  1.22507724],
       [ 0.47651824, -1.429488  ,  1.26753751, -0.96423036, -1.623397  ],
       [ 0.35207122, -0.04749965, -0.93624169, -0.96713097, -0.25423966],
       [ 0.94265172, -0.64756165,  0.45086256,  0.09741334,  1.03068317]])

In [10]:
#shows a quick statistic summary of your data:
df.describe()

              A         B         C         D         E
count  8.000000  8.000000  8.000000  8.000000  8.000000
mean  -0.042030 -0.315560  0.294932 -0.590214  0.179660
std    0.666377  0.896586  0.999109  1.033563  0.948299
min   -1.064615 -1.429488 -0.964546 -2.376976 -1.623397
25%   -0.508416 -0.837259 -0.496378 -1.087013 -0.152838
50%    0.064556 -0.648358  0.425972 -0.535870  0.032500
75%    0.383183  0.178687  0.812846  0.150067  1.051312
max    0.942652  1.131657  1.829234  0.735348  1.225077

In [11]:
df.index

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [13]:
#transposing your data
print("data")
print(df)
print("transpose")
print(df.T)

data
                   A         B         C         D         E
2018-10-01 -0.741131  1.131657  0.661282 -1.446660  1.113197
2018-10-02  0.008494 -0.804675 -0.349757 -2.376976 -0.119038
2018-10-03  0.120618 -0.649153  1.829234  0.308030 -0.098760
2018-10-04 -0.430845 -0.935010  0.401081  0.735348  0.163760
2018-10-05 -1.064615  0.857247 -0.964546 -0.107509  1.225077
2018-10-06  0.476518 -1.429488  1.267538 -0.964230 -1.623397
2018-10-07  0.352071 -0.047500 -0.936242 -0.967131 -0.254240
2018-10-08  0.942652 -0.647562  0.450863  0.097413  1.030683
transpose
   2018-10-01  2018-10-02  2018-10-03  2018-10-04  2018-10-05  2018-10-06  \
A   -0.741131    0.008494    0.120618   -0.430845   -1.064615    0.476518
B    1.131657   -0.804675   -0.649153   -0.935010    0.857247   -1.429488
C    0.661282   -0.349757    1.829234    0.401081   -0.964546    1.267538
D   -1.446660   -2.376976    0.308030    0.735348   -0.107509   -0.964230
E    1.113197   -0.119038   -0.098760    0.163760    1.225077   -1.623397

   2018-10-07  2018-10-08
A    0.352071    0.942652
B   -0.047500   -0.647562
C   -0.936242    0.450863
D   -0.967131    0.097413
E   -0.254240    1.030683

In [14]:
#Sorting by an axis
df.sort_index(axis=1, ascending=False)

                   E         D         C         B         A
2018-10-01  1.113197 -1.446660  0.661282  1.131657 -0.741131
2018-10-02 -0.119038 -2.376976 -0.349757 -0.804675  0.008494
2018-10-03 -0.098760  0.308030  1.829234 -0.649153  0.120618
2018-10-04  0.163760  0.735348  0.401081 -0.935010 -0.430845
2018-10-05  1.225077 -0.107509 -0.964546  0.857247 -1.064615
2018-10-06 -1.623397 -0.964230  1.267538 -1.429488  0.476518
2018-10-07 -0.254240 -0.967131 -0.936242 -0.047500  0.352071
2018-10-08  1.030683  0.097413  0.450863 -0.647562  0.942652

In [15]:
#sort by values
df.sort_values(by='D')

                   A         B         C         D         E
2018-10-02  0.008494 -0.804675 -0.349757 -2.376976 -0.119038
2018-10-01 -0.741131  1.131657  0.661282 -1.446660  1.113197
2018-10-07  0.352071 -0.047500 -0.936242 -0.967131 -0.254240
2018-10-06  0.476518 -1.429488  1.267538 -0.964230 -1.623397
2018-10-05 -1.064615  0.857247 -0.964546 -0.107509  1.225077
2018-10-08  0.942652 -0.647562  0.450863  0.097413  1.030683
2018-10-03  0.120618 -0.649153  1.829234  0.308030 -0.098760
2018-10-04 -0.430845 -0.935010  0.401081  0.735348  0.163760

In [16]:
#Creating a DataFrame by passing a dict of objects. dictionary objects get converted to series-like.
df1= pd.DataFrame({ 'A':'hi',
                    'B':1,
                    'C': 'foo',
                    'D': np.array([2]*4),
                    'E': pd.Series(np.random.randn(4),index=list(range(4)),dtype='float32')
                  })
df1

    A  B    C  D         E
0  hi  1  foo  2 -0.613750
1  hi  1  foo  2 -0.104874
2  hi  1  foo  2  0.499019
3  hi  1  foo  2  1.594594

In [17]:
#data types of columns
df1.dtypes

A     object
B      int64
C     object
D      int64
E    float32
dtype: object

In [18]:
a_ascii = ord('A')
a_ascii

65

In [19]:
alpha = [chr(i) for i in range(a_ascii, a_ascii+26)]
alpha

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [20]:
numbers= np.arange(26)
numbers

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [21]:
type(numbers)
#type(alpha)

numpy.ndarray

In [22]:
alpha_num= dict(zip(numbers,alpha))
#type(alpha_num)
alpha_num

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y',
 25: 'Z'}

In [23]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [25]:
pd.Series(d, index=['m', 'n', 'b', 'c'])

m    NaN
n    NaN
b    1.0
c    2.0
dtype: float64

In [ ]:
pd.Series.reindex(d,)