In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [93]:
#creating series by passing a list. panda creates the default integer index
pd.Series([1,np.nan,3,7,9, 42])

0     1.0
1     NaN
2     3.0
3     7.0
4     9.0
5    42.0
dtype: float64

In [94]:
#creating DataFrame by NumPy with dates as index and labeled columns
dates = pd.date_range('20181001', periods=8)
print(dates)
print(type(dates))

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [95]:
df=pd.DataFrame(np.random.randn(8,5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  0.295164
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047
2018-10-06  0.405757 -1.175372  1.125563 -0.072352 -1.201452
2018-10-07 -0.071780  1.103094  0.655575 -0.586446 -1.538508
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610

In [96]:
#viewing data
df.head()

                   A         B         C         D         E
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  0.295164
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047

In [97]:
df.tail(2)

                   A         B         C         D         E
2018-10-07 -0.071780  1.103094  0.655575 -0.586446 -1.538508
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610

In [98]:
df.values

array([[ 1.2222307 ,  0.33188493,  0.51548591, -0.87965622,  1.11414815],
       [-0.33880507,  0.54308703, -1.95642604, -1.70547231,  0.29516445],
       [-0.78879816,  1.68405666, -0.03021632, -1.50545839,  0.28376657],
       [-1.94055301, -0.46552804, -1.05653319,  0.27007625,  0.34882223],
       [ 1.14905938,  0.95966943,  0.37295387, -2.31013247,  0.58304719],
       [ 0.40575733, -1.17537198,  1.12556329, -0.07235201, -1.20145209],
       [-0.07178023,  1.10309352,  0.65557498, -0.58644606, -1.53850754],
       [-1.64253911, -0.01500533, -0.19658263, -0.43393656,  1.62360987]])

In [99]:
#shows a quick statistic summary of your data:
df.describe()

              A         B         C         D         E
count  8.000000  8.000000  8.000000  8.000000  8.000000
mean  -0.250679  0.370736 -0.071273 -0.902922  0.188575
std    1.176067  0.916344  1.003158  0.876176  1.071228
min   -1.940553 -1.175372 -1.956426 -2.310132 -1.538508
25%   -1.002233 -0.127636 -0.411570 -1.555462 -0.087538
50%   -0.205293  0.437486  0.171369 -0.733051  0.321993
75%    0.591583  0.995525  0.550508 -0.343540  0.715822
max    1.222231  1.684057  1.125563  0.270076  1.623610

In [100]:
df.index

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08'],
              dtype='datetime64[ns]', freq='D')

In [101]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [102]:
#transposing your data
print("data")
print(df)
print("transpose")
print(df.T)

data
                   A         B         C         D         E
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  0.295164
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047
2018-10-06  0.405757 -1.175372  1.125563 -0.072352 -1.201452
2018-10-07 -0.071780  1.103094  0.655575 -0.586446 -1.538508
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610
transpose
   2018-10-01  2018-10-02  2018-10-03  2018-10-04  2018-10-05  2018-10-06  \
A    1.222231   -0.338805   -0.788798   -1.940553    1.149059    0.405757
B    0.331885    0.543087    1.684057   -0.465528    0.959669   -1.175372
C    0.515486   -1.956426   -0.030216   -1.056533    0.372954    1.125563
D   -0.879656   -1.705472   -1.505458    0.270076   -2.310132   -0.072352
E    1.114148    0.295164    0.283767    0.348822    0.583047   -1.201452

   2018-10-07  2018-10-08
A   -0.071780   -1.642539
B    1.103094   -0.015005
C    0.655575   -0.196583
D   -0.586446   -0.433937
E   -1.538508    1.623610

In [103]:
#Sorting by an axis
df.sort_index(axis=1, ascending=False)

                   E         D         C         B         A
2018-10-01  1.114148 -0.879656  0.515486  0.331885  1.222231
2018-10-02  0.295164 -1.705472 -1.956426  0.543087 -0.338805
2018-10-03  0.283767 -1.505458 -0.030216  1.684057 -0.788798
2018-10-04  0.348822  0.270076 -1.056533 -0.465528 -1.940553
2018-10-05  0.583047 -2.310132  0.372954  0.959669  1.149059
2018-10-06 -1.201452 -0.072352  1.125563 -1.175372  0.405757
2018-10-07 -1.538508 -0.586446  0.655575  1.103094 -0.071780
2018-10-08  1.623610 -0.433937 -0.196583 -0.015005 -1.642539

In [104]:
#sort by values
df.sort_values(by='D')

                   A         B         C         D         E
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  0.295164
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148
2018-10-07 -0.071780  1.103094  0.655575 -0.586446 -1.538508
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610
2018-10-06  0.405757 -1.175372  1.125563 -0.072352 -1.201452
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822

In [208]:
#Creating a DataFrame by passing a dict of objects. dictionary objects get converted to series-like.
df1= pd.DataFrame({ 'A':'hi',
                    'B':1,
                    'C': 'foo',
                    'D': np.array([2]*4),
                    'E': pd.Series(np.random.randint(1,4,4),index=list(range(4)),dtype='float32')
                  })
df1

    A  B    C  D    E
0  hi  1  foo  2  2.0
1  hi  1  foo  2  2.0
2  hi  1  foo  2  2.0
3  hi  1  foo  2  1.0

In [106]:
#data types of columns
df1.dtypes

A     object
B      int64
C     object
D      int64
E    float32
dtype: object

In [107]:
a_ascii = ord('A')
a_ascii

65

In [108]:
alpha = [chr(i) for i in range(a_ascii, a_ascii+26)]
alpha

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [109]:
numbers= np.arange(26)
numbers

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [110]:
type(numbers)
#type(alpha)

numpy.ndarray

In [111]:
alpha_num= dict(zip(numbers,alpha))
#type(alpha_num)
alpha_num

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y',
 25: 'Z'}

In [207]:
#making series using a dictionary
d = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [113]:
ser=pd.Series(d, index=['m', 'n', 'b', 'c'])
ser

m    NaN
n    NaN
b    1.0
c    2.0
dtype: float64

In [114]:
df =df.sort_values(by=df.columns.tolist())
df

                   A         B         C         D         E
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  0.295164
2018-10-07 -0.071780  1.103094  0.655575 -0.586446 -1.538508
2018-10-06  0.405757 -1.175372  1.125563 -0.072352 -1.201452
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148

In [120]:
#selecting via [], slicing
df[:3]

                   A         B         C         D         E
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767

In [121]:
#Select a single column
df['B']

2018-10-04   -0.465528
2018-10-08   -0.015005
2018-10-03    1.684057
2018-10-02    0.543087
2018-10-07    1.103094
2018-10-06   -1.175372
2018-10-05    0.959669
2018-10-01    0.331885
Name: B, dtype: float64

In [125]:
#select using label
df.loc[dates[1]]

A   -0.338805
B    0.543087
C   -1.956426
D   -1.705472
E    0.295164
Name: 2018-10-02 00:00:00, dtype: float64

In [135]:
df.loc[:,['A','C']].sort_index(axis=0)

                   A         C
2018-10-01  1.222231  0.515486
2018-10-02 -0.338805 -1.956426
2018-10-03 -0.788798 -0.030216
2018-10-04 -1.940553 -1.056533
2018-10-05  1.149059  0.372954
2018-10-06  0.405757  1.125563
2018-10-07 -0.071780  0.655575
2018-10-08 -1.642539 -0.196583

In [136]:
df.at[dates[0],'A']

1.2222307012479785

In [161]:
df.reindex(dates)

                   A         B         C         D         E
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  0.295164
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458  0.283767
2018-10-04 -1.940553 -0.465528 -1.056533  0.270076  0.348822
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047
2018-10-06  0.405757 -1.175372  1.125563 -0.072352 -1.201452
2018-10-07 -0.071780  1.103094  0.655575 -0.586446 -1.538508
2018-10-08 -1.642539 -0.015005 -0.196583 -0.433937  1.623610

In [155]:
#select via position of passed integers
df.iloc[4]

A   -0.071780
B    1.103094
C    0.655575
D   -0.586446
E   -1.538508
Name: 2018-10-07 00:00:00, dtype: float64

In [158]:
#integer slices
df.iloc[2:5,0:4]

                   A         B         C         D
2018-10-03 -0.788798  1.684057 -0.030216 -1.505458
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472
2018-10-07 -0.071780  1.103094  0.655575 -0.586446

In [159]:
df[df.A>0]

                   A         B         C         D         E
2018-10-06  0.405757 -1.175372  1.125563 -0.072352 -1.201452
2018-10-05  1.149059  0.959669  0.372954 -2.310132  0.583047
2018-10-01  1.222231  0.331885  0.515486 -0.879656  1.114148

In [206]:
df[df>0]

                    A          B          C         D         E
2018-10-04   -1.94055          0   -1.05653  0.270076  0.348822
2018-10-08   -1.64254 -0.0150053  -0.196583 -0.433937   1.62361
2018-10-03  -0.788798    1.68406 -0.0302163  -1.50546  0.283767
2018-10-02  -0.338805   0.543087   -1.95643  -1.70547  0.295164
2018-10-07 -0.0717802    1.10309   0.655575 -0.586446  -1.53851
2018-10-06   0.405757   -1.17537    1.12556 -0.072352  -1.20145
2018-10-05    1.14906   0.959669   0.372954  -2.31013  0.583047
2018-10-01        Nan        Nan        Nan       Nan       Nan

In [174]:
#Filter using isin()
df2=df.reindex(dates).copy()
df2['E']=['one', 'two', 'three', 'four', 'five', 'six', 'seven','eight']
df2[df2['E'].isin(['two','one'])]

                   A         B         C         D    E
2018-10-01  1.222231  0.331885  0.515486 -0.879656  one
2018-10-02 -0.338805  0.543087 -1.956426 -1.705472  two

In [209]:
df1.at[0,1]=0
df1

    A  B    C  D    E    1
0  hi  1  foo  2  2.0  0.0
1  hi  1  foo  2  2.0  NaN
2  hi  1  foo  2  2.0  NaN
3  hi  1  foo  2  1.0  NaN

In [212]:
df1.dropna(how='any')

    A  B    C  D    E    1
0  hi  1  foo  2  2.0  0.0

In [213]:
df1.fillna(value=5)

    A  B    C  D    E    1
0  hi  1  foo  2  2.0  0.0
1  hi  1  foo  2  2.0  5.0
2  hi  1  foo  2  2.0  5.0
3  hi  1  foo  2  1.0  5.0

In [214]:
 pd.isna(df1)

       A      B      C      D      E      1
0  False  False  False  False  False  False
1  False  False  False  False  False   True
2  False  False  False  False  False   True
3  False  False  False  False  False   True

In [223]:
df2.mean(axis=0)

A   -0.250679
B    0.370736
C   -0.071273
D   -0.902922
dtype: float64

In [233]:
df.at[dates[0],:]=9.0
df

                    A          B          C         D         E
2018-10-04   -1.94055          0   -1.05653  0.270076  0.348822
2018-10-08   -1.64254 -0.0150053  -0.196583 -0.433937   1.62361
2018-10-03  -0.788798    1.68406 -0.0302163  -1.50546  0.283767
2018-10-02  -0.338805   0.543087   -1.95643  -1.70547  0.295164
2018-10-07 -0.0717802    1.10309   0.655575 -0.586446  -1.53851
2018-10-06   0.405757   -1.17537    1.12556 -0.072352  -1.20145
2018-10-05    1.14906   0.959669   0.372954  -2.31013  0.583047
2018-10-01          9          9          9         9         9

In [234]:
df.apply(lambda x: x.max() - x.min())

A    10.940553
B    10.175372
C    10.956426
D    11.310132
E    10.538508
dtype: float64