In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#creating series by passing a list. panda creates the default integer index
s = pd.Series([1,np.nan,3,7,9, 41])
s

0     1.0
1     NaN
2     3.0
3     7.0
4     9.0
5    41.0
dtype: float64

In [4]:
#creating DataFrame by NumPy with dates as index and labeled columns
dates = pd.date_range('20181001', periods=8)
dates

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame(np.random.randn(8,5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-10-01  0.309720  0.439361 -2.230571 -0.102619 -0.623510
2018-10-02 -1.699139  1.133279 -0.520971  0.293079  2.455655
2018-10-03 -1.290021  0.908691 -0.988437  0.810192 -0.067663
2018-10-04 -2.211808 -0.495209  1.375957 -0.254088  0.889198
2018-10-05 -1.376816  0.446930 -1.615658  0.944525  0.724817
2018-10-06  0.958429 -1.833822  0.980284  1.451297  0.535717
2018-10-07  1.485398  1.599790 -0.617193  1.145199 -0.525602
2018-10-08 -0.332500  1.087046 -0.225623  0.221090 -0.915387

In [51]:
#viewing data
df.head()

                   A         B         C         D         E
2018-10-01 -1.210733 -0.950686  1.125340  0.661280 -1.680157
2018-10-02 -0.756828  0.021599  0.058710 -0.439847 -0.570496
2018-10-03 -0.356840 -0.439605 -0.609753  1.477341 -0.529182
2018-10-04  0.488620  0.725269 -0.028494  3.054565 -0.127047
2018-10-05 -0.159996 -1.375482 -0.118797 -0.831175 -1.533838

In [59]:
df.tail(2)

                   A         B         C         D         E
2018-10-07 -0.426158  0.334526  0.947530 -0.900349 -0.530075
2018-10-08  1.071152  0.142507  0.669829  0.514144  0.185509

In [60]:
df.values

array([[-1.21073279, -0.9506857 ,  1.12534036,  0.66127961, -1.68015665],
       [-0.75682751,  0.02159884,  0.05871024, -0.439847  , -0.5704959 ],
       [-0.35684018, -0.43960483, -0.60975344,  1.47734119, -0.52918179],
       [ 0.4886204 ,  0.72526932, -0.02849415,  3.05456456, -0.12704681],
       [-0.15999555, -1.37548159, -0.11879657, -0.83117533, -1.5338382 ],
       [ 1.20826382,  1.80515783,  2.7031254 ,  1.32948649, -1.63253323],
       [-0.42615841,  0.33452588,  0.94753034, -0.90034948, -0.5300748 ],
       [ 1.07115183,  0.14250677,  0.6698287 ,  0.51414384,  0.18550945]])

In [62]:
#shows a quick statistic summary of your data:
df.describe()

              A         B         C         D         E
count  8.000000  8.000000  8.000000  8.000000  8.000000
mean  -0.017815  0.032911  0.593436  0.608180 -0.802227
std    0.863273  0.992661  1.034587  1.347906  0.720043
min   -1.210733 -1.375482 -0.609753 -0.900349 -1.680157
25%   -0.508826 -0.567375 -0.051070 -0.537679 -1.558512
50%   -0.258418  0.082053  0.364269  0.587712 -0.550285
75%    0.634253  0.432212  0.991983  1.366450 -0.428648
max    1.208264  1.805158  2.703125  3.054565  0.185509

In [55]:
df.index

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08'],
              dtype='datetime64[ns]', freq='D')

In [56]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [66]:
#transposing your data
print("data")
print(df)
print("transpose")
print(df.T)

data
                   A         B         C         D         E
2018-10-01 -1.210733 -0.950686  1.125340  0.661280 -1.680157
2018-10-02 -0.756828  0.021599  0.058710 -0.439847 -0.570496
2018-10-03 -0.356840 -0.439605 -0.609753  1.477341 -0.529182
2018-10-04  0.488620  0.725269 -0.028494  3.054565 -0.127047
2018-10-05 -0.159996 -1.375482 -0.118797 -0.831175 -1.533838
2018-10-06  1.208264  1.805158  2.703125  1.329486 -1.632533
2018-10-07 -0.426158  0.334526  0.947530 -0.900349 -0.530075
2018-10-08  1.071152  0.142507  0.669829  0.514144  0.185509
transpose
   2018-10-01  2018-10-02  2018-10-03  2018-10-04  2018-10-05  2018-10-06  \
A   -1.210733   -0.756828   -0.356840    0.488620   -0.159996    1.208264
B   -0.950686    0.021599   -0.439605    0.725269   -1.375482    1.805158
C    1.125340    0.058710   -0.609753   -0.028494   -0.118797    2.703125
D    0.661280   -0.439847    1.477341    3.054565   -0.831175    1.329486
E   -1.680157   -0.570496   -0.529182   -0.127047   -1.533838   -1.632533

   2018-10-07  2018-10-08
A   -0.426158    1.071152
B    0.334526    0.142507
C    0.947530    0.669829
D   -0.900349    0.514144
E   -0.530075    0.185509

In [7]:
#Sorting by an axis
df.sort_index(axis=1, ascending=False)

                   E         D         C         B         A
2018-10-01 -0.623510 -0.102619 -2.230571  0.439361  0.309720
2018-10-02  2.455655  0.293079 -0.520971  1.133279 -1.699139
2018-10-03 -0.067663  0.810192 -0.988437  0.908691 -1.290021
2018-10-04  0.889198 -0.254088  1.375957 -0.495209 -2.211808
2018-10-05  0.724817  0.944525 -1.615658  0.446930 -1.376816
2018-10-06  0.535717  1.451297  0.980284 -1.833822  0.958429
2018-10-07 -0.525602  1.145199 -0.617193  1.599790  1.485398
2018-10-08 -0.915387  0.221090 -0.225623  1.087046 -0.332500

In [8]:
#sort by values
df.sort_values(by='D')

                   A         B         C         D         E
2018-10-04 -2.211808 -0.495209  1.375957 -0.254088  0.889198
2018-10-01  0.309720  0.439361 -2.230571 -0.102619 -0.623510
2018-10-08 -0.332500  1.087046 -0.225623  0.221090 -0.915387
2018-10-02 -1.699139  1.133279 -0.520971  0.293079  2.455655
2018-10-03 -1.290021  0.908691 -0.988437  0.810192 -0.067663
2018-10-05 -1.376816  0.446930 -1.615658  0.944525  0.724817
2018-10-07  1.485398  1.599790 -0.617193  1.145199 -0.525602
2018-10-06  0.958429 -1.833822  0.980284  1.451297  0.535717

In [67]:
#Creating a DataFrame by passing a dict of objects. dictionary objects get converted to series-like.
df1= pd.DataFrame({ 'A':'hi',
                    'B':1,
                    'C': 'foo',
                    'D': np.array([2]*4),
                    'E': pd.Series(np.random.randn(4),index=list(range(4)),dtype='float32')
                  })
df1

    A  B    C  D         E
0  hi  1  foo  2  1.454670
1  hi  1  foo  2  0.193066
2  hi  1  foo  2 -0.280443
3  hi  1  foo  2  0.515232

In [48]:
#data types of columns
df1.dtypes

A     object
B      int64
C     object
D      int64
E    float32
dtype: object

In [9]:
a_ascii = ord('A')
a_ascii

65

In [12]:
alpha = [chr(i) for i in range(a_ascii, a_ascii+26)]
alpha

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [14]:
numbers= np.arange(26)
numbers

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [17]:
type(numbers)
#type(alpha)

numpy.ndarray

In [22]:
alpha_num= dict(zip(numbers,alpha))
#type(alpha_num)
alpha_num

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y',
 25: 'Z'}